@media (max-width: 400px) {
    body {
        padding: 20px;
        flex-direction: column;
    }

    .container {
        width: 100%;
    }

    .principal {
        width: 100%;
    }

    .screen {
        width: 100%;
    }

    #screen {
        font-size: 24px;
    }

    .buttons {
        width: 100%;
        padding: 5px;
    }

    button {
        width: calc(22% - 10px);
        font-size: 24px;
        margin: 5px;
    }

    .reset, .igual {
        width: calc(48% - 10px);
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .screen {
        height: 80px;
    }

    #screen {
        height: 60px;
        font-size: 20px;
        padding: 10px;
    }

    button {
        width: calc(22% - 5px);
        font-size: 18px;
        padding: 10px;
    }

    .reset, .igual {
        width: calc(48% - 5px);
        font-size: 18px;
        padding: 10px;
    }

    h3 {
        font-size: 18px;
    }

    .control p {
        margin-right: 330px;
    }

    .control .box {
        width: 45px;
        height: 12px;
    }

    .control #circle {
        width: 12px;
        height: 12px;
    }
}
